body {
    font-family: sans-serif;
}
footer, header{
    background-color: #663E77 !important;
}

.sigma{
    text-align: center;
}
.category{
    text-align: center;
}
.coll{
    text-align: center;
}
.ponos img{ 
    width: 50px;
    height: 50px;
    
}

.ponos{
    display: flex;
    justify-content: center;
}

.sigmaboy{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.sigmaboy img {
    width: 150px;
    height: 150px;
}
.category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #805e8e84;
    padding: 15px;
    border-radius: 15px;
}

.category:hover{
    border:  solid purple 5px;
}

footer ul li a, footer p, .navbar-nav li a {
    color: white !important;
    font-weight: 700;
    font-size: 20px;
}

.navbar-brand img{
    width: 150px;
}

.sigmaboy a{
    text-decoration: none;
    color: black;
}